*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b8b8b8;
}

/* HEADER */

.banner{
    background-color: white;
    height: 8vh;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.banner img{
    vertical-align: sub;
}

.banner h1{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

/* END-HEADER */

main{
    width: 80%;
    height: 85vh;
    margin: auto;
    background-color: white;
    border-radius: 1%;
    font-family: 'Kanit', sans-serif;
    line-height: 2.5em;
}
.container{
margin: 20px
}

/* NAV-contiene i 2 buttons */
nav{
    padding: 30px;
    border-bottom: 1px solid rgb(156, 156, 156);
}

#button-1{
    background-color: #43abf0;
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 5%;
}

#button-2{
    background-color: white;
    border: 1px solid grey;
    color: grey;
    padding: 10px 32px;
    border-radius: 5%;
}
/* END-NAV*/

ol{
    padding: 30px;
    list-style: none;
}

.li-title{
    font-size: 1.5em; 
    font-weight: bold;
}

span{
    padding: 3px;
    margin-right: 15px;
    
}

.check{
    border: 1px solid green;
    border-radius: 50%;
    color: green;
}

.cross{
    border: 1px solid red;
    border-radius: 50%;
}